:root{
    --color-primario:  #3e697a;
    --color-secundario:  #3e697a;
    --color-acento:   #4d8399;
    --color-fondo: #a9beb096;
    --color-texto: #263238;
    --fuente: "Inter", sans-serif;
}
/* Reset básico*/
*{ 
    box-sizing: border-box;
    margin: 0; padding: 0;
}
body{
    background-color: var(--color-fondo);
    font-family: var(--fuente);
    font-size: 16px;
    color: var(--color-texto);
    max-width: auto;
    margin: 0 auto;
    padding: 0 1rem;
}

header{
    background: var(--color-primario);
    color: white;
    padding: 1rem;
   
}

footer{
    background: var(--color-secundario);
}

nav a:hover{
    background-color: var(--color-acento);
    padding: 2rem;
}

nav a {
    color: var(--color-texto);
    text-decoration: none;
}

ul{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem;
    margin: 1rem;
}

ul li{
    list-style: none;
    font-size: 1rem;
    margin-right: auto;
    justify-content: center;
}

article{
    padding: 1%;

}
#proceso ol{
    display:flex;
    align-items: center;
    text-transform: uppercase;
    padding: 2rem; 
    margin: 1rem;
}
#proceso ol li{
    font-size: 1rem;
    margin-right: auto;
    justify-content: center;

}
.navbar{
    display: flex;
    position: relative;

}